In [1]:
import pandas as pd

# read the time series data
time_series = pd.read_csv('processed_data/time_series.csv')

# visualize the time series
time_series

       date  mean_rating        gdp      cpi  inflation  disposable_income
0   2007-01     3.889027  15478.956  203.437   0.165653            11403.7
1   2007-04     3.929793  15577.779  205.904   0.299169            11490.1
2   2007-07     3.893976  15671.605  207.603   0.177743            11500.4
3   2007-10     3.822253  15767.146  209.190   0.307376            11523.6
4   2008-01     3.861677  15702.906  212.174   0.343586            11553.4
..      ...          ...        ...      ...        ...                ...
56  2021-01     3.854847  19055.655  262.200   0.242563            16988.6
57  2021-04     3.714769  19368.310  266.727   0.636981            16146.9
58  2021-07     3.687040  19478.893  272.184   0.451533            15735.2
59  2021-10     3.654734  19806.290  276.590   0.859033            15444.5
60  2022-01     3.704500  19735.895  281.933   0.640932            15343.6

[61 rows x 6 columns]

In [7]:
from sklearn.linear_model import LinearRegression

# select the timeframe we want
time_series = time_series[time_series['date'] >= '2012-01']

# normalize the data
for column in ['gdp', 'inflation', 'disposable_income', 'mean_rating']:
    time_series[column] /= time_series[column].mean()

# select the data being used
X = time_series[['gdp', 'inflation', 'disposable_income']]
y = time_series['mean_rating']

# fit the regression model
reg = LinearRegression().fit(X, y)

# get regression score and
print('regression score', reg.score(X, y))

# see coefficients
print('regression coefficients', reg.coef_)

regression score 0.3374648517374469
regression coefficients [ 0.13005011 -0.00330159 -0.00058958]